<a href="https://colab.research.google.com/github/pakpahansalma/python_for_datascience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

## Import library pandas

In [ ]:
# pip install pandas

In [ ]:
import pandas as pd

## Series

Series merupakan suatu kolom bagian dari tabel dataframe yang merupakan 1 dimensional numpy array

In [ ]:
var_a = [1, 7, 2]
hasil = pd.Series(var_a, name='gaji')

print(hasil)

0    1
1    7
2    2
Name: gaji, dtype: int64

In [ ]:
print(hasil[1])

7

In [ ]:
#@title Label

hasil = pd.Series(var_a, index=["x", "y", "z"])
print(hasil)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(hasil["y"])

7

In [ ]:
#@title Dictionary

kalori = {"day1": 420, "day2": 380, "day3": 390}

hasil = pd.Series(kalori)
print(hasil)

day1    420
day2    380
day3    390
dtype: int64

## Dataframe

Dataframe beebentuk 2 dimensi data atau disebut multi-dimensional tables

In [ ]:
#@title Create dataframe

data = {
  "date": ['2023-01-01', '2023-01-09', '2023-01-26'] #array tanggal
  "quantity": [2, 5, 9],
  "price": [50000, 250000, 450000]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
# dataframe = 2 dimensi (row, column)

print(df)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-17-7c3b3da6becc>, line 4)

In [ ]:
#@title Create dataframe from series

nama = pd.Series (['Ali', 'Budi', 'Citra'])
usia = pd.Series ([25, 30, 35])

df = pd. DataFrame ({'Nama':nama, 'Usia':usia})

print(df)

## Data Information

In [ ]:
#@title Iterate dataframe

for i, j in df.iterrows():
    print(i, j)

In [ ]:
#@title Access specific item

for i in df:
    print (df[i][2])

In [ ]:
#@title Dataframe statistic

# describe of the dataframe
print('Describe: ')
print(df.describe())
print('--------------------------------------')

# dimension of the dataframe
print('Shape: ')
print(df.shape)
print('--------------------------------------')

# showing info about the data
print('Info: ')
print(df.info())
print('--------------------------------------')

# correlation between columns
print('Correlation: ')
print(df.corr())

## Load File as Dataframe

In [ ]:
#@title Upload file

sales_data = pd.read_csv('/content/sample_data/customer_shopping_data.csv')
sales_data

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99453,I325143,C569580,Male,27,Food & Beverage,2,10.46,Cash,22/09/2021,Forum Istanbul
99454,I824010,C103292,Male,63,Food & Beverage,2,10.46,Debit Card,28/03/2021,Metrocity
99455,I702964,C800631,Male,56,Technology,4,4200.00,Cash,16/03/2021,Istinye Park
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# sales_data.head()
# sales_data.tail()
# sales_data.head(25)
sales_data.tail(15)

In [ ]:
#@title Connect G-Drive

sales_data = pd.read_csv('/content/drive/MyDrive/Project/Cakap/Data Science/customer_shopping_data.csv')

sales_data.head()
# sales_data.head(10)
# sales_data.tail(8)

In [ ]:
#@title File txt

data_txt = pd.read_csv('/content/drive/MyDrive/Project/Cakap/Data Science/fruit_data_with_colors.txt', delimiter='\t')
data_txt.head()

## Analytics Dataframe

In [ ]:
sales_data.describe()

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

In [ ]:
print('Shape: ')
print(sales_data.shape)
print('--------------------------------------')

print('\nInfo: ')
print(sales_data.info())
print('--------------------------------------')

print('\nCorrelation: ')
print(sales_data.corr())

Shape:
(99457, 10)
--------------------------------------

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.6+ MB
None
--------------------------------------

Correlation:

ValueError: could not convert string to float: 'I138884'

In [ ]:
new_sales_data = sales_data['age', 'quantity', 'price']

KeyError: ('age', 'quantity', 'price')

## Filter Dataframe

In [ ]:
#@title Filter with logic operator

data_with_quantity_more_than_3_product = sales_data[sales_data.quantity >= 3]
data_with_quantity_more_than_3_product

In [ ]:
#@title Multiple Filter

multiple_filter = sales_data[(sales_data.quantity >= 3) & (sales_data.shopping_mall == 'Kanyon') & (sales_data.age > 30) & (sales_data.payment_method == 'Cash')]
multiple_filter

In [ ]:
#@title Filter with isin

kolom_shopping_mall= ['Kanyon', 'Mall of Istanbul', 'Metropol AVM']

spesific_payment_method = sales_data[sales_data.shopping_mall.isin(kolom_shopping_mall)]
# spesific_payment_method = sales_data[sales_data.category.isin(['Shoes', 'Books'])]
spesific_payment_method

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon
...,...,...,...,...,...,...,...,...,...,...
99448,I332105,C231387,Female,65,Shoes,4,2400.68,Credit Card,29/08/2021,Metropol AVM
99449,I134399,C953724,Male,65,Clothing,1,300.08,Cash,1/1/2023,Kanyon
99451,I675411,C513603,Male,50,Toys,5,179.20,Cash,9/10/2021,Metropol AVM
99452,I219422,C441542,Female,45,Souvenir,5,58.65,Credit Card,21/09/2022,Kanyon
99456,I232867,C273973,Female,36,Souvenir,3,35.19,Credit Card,15/10/2022,Mall of Istanbul

In [ ]:
#@title Filter with str accessor

# sales_data[sales_data.shopping_mall.str.startswith('Ma')]
sales_data[sales_data.shopping_mall.str.endswith('ul')]

In [ ]:
#@title Filter with nlargest & nsmallest

#Mengambil 3 data belanja pengguna dengan  total pembelian terbanyak
sales_data.nlargest(5, 'price')

In [ ]:
sales_data.nsmallest(3, 'price')

In [ ]:
#@title Filter with Query

sales_data.query('gender == "Male" and age > 25 and payment_method == "Cash" and quantity >=3')

## Group Dataframe

In [ ]:
sales_data.groupby('gender').agg({'price': 'sum'})

In [ ]:
sales_data.groupby('payment_method').agg({'customer_id': 'count'})

In [ ]:
sales_data.groupby(['category', 'gender']).count()[['customer_id']]

## Replace Dataframe

In [ ]:
# Create Dataframe

data = {'Product': ['Product A', 'Product B', 'Product C', 'Product D'],
        'Region': ['Jakarta', 'Bandung', 'Bogor', 'Tangerang'],
        'Sales': [100000, 50000, 70000, 90000]}

df = pd.DataFrame(data)
print(df)

In [ ]:
#@title Replace Values in Column
# replace(oldvalue, newvalue)

df['Region'] = df['Region'].replace('Jakarta','DKI Jakarta')
print(df)

In [ ]:
df['Product'] = df['Product'].replace('Product D', 'Product New')
print(df)

In [ ]:
df['Sales'] = df['Sales'].replace([100000, 20000])
print(df)

In [ ]:
#@title Replace Multiple Values in Column

df['Product'] = df['Product'].replace(['Product A', 'Product B'], 'Banana')
print(df)

In [ ]:
df['Region'] = df['Region'].replace(['Bandung', 'Bogor'], ['Cikarang', 'Bekasi'])
print(df)

## Dataframe Duplicated Data

In [ ]:
# Create a dataframe
data = [{'species': 'Esox lucius', 'length': 120, 'weight': 8.1, 'age': 3},
        {'species': 'Esox lucius', 'length': 120, 'weight': 8.1, 'age': 3},
        {'species': 'Esox lucius', 'length': 120, 'weight': 8.1, 'age': 3},
        {'species': 'Esox lucius', 'length': 120, 'weight': 7.7, 'age': 2},
        {'species': 'Esox lucius', 'length': 110, 'weight': 7.9, 'age': 2},
        {'species': 'Cyprinus carpio', 'length': 56, 'weight': 8.3, 'age': 13},
        {'species': 'Cyprinus carpio', 'length': 36, 'weight': 7.9, 'age': 23},
        {'species': 'Cyprinus carpio', 'length': 46, 'weight': 8.1, 'age': 13},
        {'species': 'Cyprinus carpio', 'length': 46, 'weight': 8.1, 'age': 13},
        {'species': 'Salmo trutta', 'length': 40, 'weight': 7.5, 'age': 5},
        {'species': 'Salmo trutta', 'length': 38, 'weight': 7.4, 'age': 4},
        {'species': 'Oncorhynchus mykiss', 'length': 42, 'weight': 7.6, 'age': 5},
        {'species': 'Oncorhynchus mykiss', 'length': 42, 'weight': 7.6, 'age': 5},
        {'species': 'Salmo salar', 'length': 44, 'weight': 7.7, 'age': 5}]

df = pd.DataFrame(data)
df

In [ ]:
#@title Identification Duplicate

df.duplicated()

In [ ]:
df2 = df.copy()
df2

In [ ]:
#@title Add new column duplicated

df2['duplicated'] = df2.duplicated()
df2

In [ ]:
#@title Drop Duplicate

df_new = df.drop_duplicates()
df_new

In [ ]:
df

## Soal

Download dataset berikut :

https://drive.google.com/file/d/1Yb0B3q2QjdQpuUlxhKOmyn5JcnQ_-w3x/view?usp=drive_link

* Buat project baru di colab
* Load dataset
* Lihat analytical dataframe
* Check duplicate & handle duplicate
* Lakukan filter dataframe
* Lakukan group dataframe
* Lakukan replace dataframe